h1 {
    color: blue;
    text-decoration: #ad54b2 underline wavy;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: rgba(107, 107, 255, 0.507);
}

p {

    background-color: rgba(135, 206, 250, 0.274);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}