/* font-family: 'Arimo', sans-serif;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Rubik Glitch', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Rubik Puddles', cursive;
font-family: 'Rubik Wet Paint', cursive;
font-family: 'Suez One', serif;
font-family: 'Tinos', serif; */

nav {
    margin-left: 25%;
    font-family: 'Rubik Glitch', cursive;
}


head {
    padding: 0;
}

body {
    /* background-image: #a4f4ff; */
    background-image: url("https://images.unsplash.com/photo-1531263939119-4022c6cf273b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=875&q=80");
    background-blend-mode: soft-light;

    background-size: 10%;
    background-color: rgba(139, 84, 39, 0.822);


}

/* main {
     width: 800px;
    height: 800px; 
     background-color: #a4f4ff; 
     background-image: url(https://images.unsplash.com/photo-1531263939119-4022c6cf273b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=875&q=80); 


} */

h1 {
    font-family: 'Rubik Moonrocks', cursive;
    color: #191b80;
    border-radius: 10%;
    border: 4px double black;
    padding-left: 20px;
    width: 350px;
    background-color: #7ae4ff;
    font-size: 40px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: -0.6em 0.5em 0.5em -0.3em #244047;
}

h2 {
    margin: 0.5em auto;
   text-align: center;
   
}

button {
    font-size: 1em;
    width: 200px;
    height: 40px;
    border-radius: 1em;
    background-color: rgb(149, 247, 237);
    margin: auto;
    transition: background-color 1.5s;
    box-shadow: -0.4em 0.5em 0.5em -0.2em;
    font-family: 'Arimo', sans-serif;
    font-weight: 800;

}

button:hover {
    background-color: #aa00ff;
}

#conferm_button {
    font-size: 1em;
    width: 200px;
    height: 40px;
    border-radius: 1em;
    background-color: rgb(149, 247, 237);
    margin: auto;

    transition:font-size 1.5s, transform 1s, background-color 1s, border-color 1s, color 1s, box-shadow 1s;
}

#conferm_button:hover {
    color: rgb(255, 102, 0);
    background-color: rgb(253, 253, 253);
    transform: translateY(-0.4em);
    border-color: rgb(217, 255, 0);
    box-shadow: -0.4em 0.5em 0.5em 0.2em rgb(217, 255, 0);
    font-size: larger;
}

/* p {
    background-color: #E5ECFC;
} */

/* .User_Inpur div {
    background-color: #08b2f5;
    font-size: 18px;
} */
/* .User_Inpur {
    background-color: #08b2f5;
} */

/* h2 + label{
   
    background-color: #08b2f5;
} */

.User_Inpur {
    font-family: 'Arimo', sans-serif;
    font-weight: 800;
    width: 350px;
    border: 3px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
    padding: 1px 0px 15px 15px;
    background-color: #7ae4ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 550;
    margin: auto;
    margin-top: 2px;
    transition: background-color 2s, border-radius 1s;
    box-shadow: -0.2em 0.6em 0.8em 0.3em #244047;
}

.User_Inpur:hover {
    background-color: #008bfb;
    border-radius: 25%;
    /* transform: translate(150px); */
}


/* button [type="submit"]{
            margin: left 45%; ;
} */

/* .User_inpur input[type="email"] {
    color: rgb(255, 0, 0);
background-color:blueviolet ;
} */

/* main p {
    background-color: #099bf1;
} */

/* div > label{
    background-color: #08b2f5;
} */